---
import Section from "@/components/sections/Section.astro";
import Languages from "@/components/Languages.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="About">
  {
    summary.map((paragraph) => {
      return <p> {paragraph} </p>;
    })
  }
  <Languages />
</Section>

<style>
  p {
    text-indent: 2rem;
  }
</style>
