---
import Section from "@/components/sections/Section.astro";
import Button from "@/components/Button.astro";
import Card from "./Card.astro";
import { courses } from "@cv";
---

<Section title="Courses">
  <ul>
    {
      courses.map(({ name, url, urlCode, year }) => {
        return (
          <Card name={name} year={year}>
            <div class="buttons">
              {url && <Button link={url}>Course</Button>}
              {urlCode && <Button link={urlCode}>GitHub Repo</Button>}
            </div>
          </Card>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
    padding-bottom: 20px;
  }

  @media print {
    .buttons {
      display: none;
    }
  }
</style>
