---
import Section from "@/components/sections/Section.astro";
import Button from "@/components/Button.astro";

import { courses } from "@cv";
---

<Section title="Courses">
  <ul>
    {
      courses.map(({ name, url, code, year }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h4>
                    {name}
                    <time>[{year}]</time>
                  </h4>
                </div>
              </header>
              <footer class="buttons">
                {url && <Button link={url}>Course</Button>}
                {code && <Button link={url}>GitHub Repo</Button>}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
  }

  time {
    font-size: 0.9rem;
    font-weight: 400;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  @media print {
    .buttons {
      display: none;
    }
  }
</style>
