---
import { languages } from "@cv";
---

<div class="d-flex languages">
  <strong class="mr">Languages:</strong>
  <div class="d-flex language-container">
    {
      languages.map(({ language, level }) => {
        return (
          <div class="mr">
            <span>
              {language} ({level})
            </span>
            <span class="slash">/</span>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .d-flex {
    display: flex;
  }
  .languages {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
  }
  .language-container div:last-child .slash {
    display: none;
  }
  .mr {
    margin-right: 0.5rem;
  }
</style>
