---
import Section from "@/components/sections/Section.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name, level, keywords}) => (
        <li>
          <h4>{name} <span class="ml">- Level: {level}</span></h4>
          <ul>
            { keywords.map((keyword, index)=>{
              const last = index === keywords.length - 1;
              return <li>{keyword}  {!last && '-'}</li>;
            })}
          </ul>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
  }

  li{
    border-radius: 4px;
    color: black;
    font-size: .8rem;
    font-weight: 500;
    padding: 0.2rem 0.1rem;
  }

  .ml{
    margin-left: 2px;
  }
</style>